
.header{background-color: #f5f7fa; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);}
.header-content{background-color:#f5f7fa; justify-content: space-between;  }
.header-content-icon{padding: 1rem 3rem;font-size: 27px; color:$color-primary-1;}
.header-content-menu{padding-right: 3rem}
.header-content-menu-box{ padding: 0; margin: 0}
.header-content-menu-box li { list-style: none; font-size: 16px; margin: 0 1rem; line-height: 5.7rem;padding: 0 5px; text-transform: uppercase; transition: .1s ease-in;
    &:hover{border-bottom:3px solid $color-primary-1; line-height: calc(  4.8rem - 3px)}
}
.header-content-menu-box li a {text-decoration: none; color: $color-primary-2; font-weight: bold;
    &:hover{color: $color-primary-1;}
}

// mobile
.display-none{display: none;}
.header-content-menu-mobile-icon{font-size: 25px;  padding-right: 1rem; color:$color-primary-1;cursor: pointer; }
.header-content-menu-mobile-items{ position: absolute; left: 0; top:4.1rem; width: 100%; list-style: none; background-color: rgba(98,168,227,0.9);padding:0}
.header-content-menu-mobile-items a{text-decoration: none; text-transform: uppercase; font-weight: bold; font-size: 15px; color:$color-secundary-2;}
.header-content-menu-mobile-items a li{padding: 1rem 0; border-bottom: 1px solid $color-secundary-2; padding-left: 3.5rem;}

//banner
.banner{display: block;height: 60vh;width: 100%;background-repeat: no-repeat;background-size: cover;background-position: center center;background-attachment: fixed;background-image: url('../images/banner.png');}
