/* ******************* */
/*    DESKTOP LARGE    */
/* ******************* */
@media screen and (min-width: 1320px) {
	.centralizer{ max-width:1300px; max-width:130rem; margin:0 auto; }

	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}
}

/* ******************* */
/*        DESKTOP      */
/* ******************* */
@media screen and (min-width: 1024px) and (max-width: 1319px) {
	.centralizer{width:98%; max-width:1280px; max-width:128rem; margin:0 auto; }
	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}

}


/* ******************* */
/*       TABLET        */
/* ******************* */
@media only screen and (min-width: 641px) and (max-width: 860px) {
	.centralizer{width:98%; margin: 0 auto;}
	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}

	// ---------------------profile-----------------------------
	.profile-content{flex-wrap: wrap; justify-content: center;}
	.profile-content-info{ padding-left: 5rem; width: 100%;}


}

/* ******************* */
/*       TABLET        */
/* ******************* */
@media only screen and (min-width: 860px) and (max-width: 1023px) {
	.centralizer{width:98%; margin: 0 auto;}
	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}
	
	// ---------------------profile-----------------------------
	.profile-content-info{width: 100%;}



}

/* ******************* */
/*       CELULAR       */
/* ******************* */
@media only screen and (max-width: 640px) {
	.centralizer{width: 98%; margin: 0 auto;}
	.title{font-size: 2rem;}

	// ---------------------header-----------------------------
	.header-content-menu{display: none;}

	
	// ---------------------profile-----------------------------
	.profile-content{flex-wrap: wrap; justify-content: center;}
	.profile-content-info{ text-align: left;padding-left: 2rem; width: 100%;}
	.profile-content-info-social a {padding:0 1.5rem}

}	