/* ******************* */
/*    DESKTOP LARGE    */
/* ******************* */
@media screen and (min-width: 1320px) {
	.centralizer{ max-width:1300px; max-width:130rem; margin:0 auto; }

	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}
}

/* ******************* */
/*        DESKTOP      */
/* ******************* */
@media screen and (min-width: 1024px) and (max-width: 1319px) {
	.centralizer{width:98%; max-width:1280px; max-width:128rem; margin:0 auto; }
	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}

}


/* ******************* */
/*       TABLET        */
/* ******************* */
@media only screen and (min-width: 641px) and (max-width: 860px) {
	.centralizer{width:98%; margin: 0 auto;}
	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}
	.banner{background-size: 100%;background-position: 0 52px;height: 40rem;}


	// ---------------------profile-----------------------------
	.profile-content{flex-wrap: wrap; justify-content: center;}
	.profile-content-info{ padding-left: 5rem; width: 100%;}

	// ---------------------fatec-----------------------------
	.fatec{padding: 5rem 0}
	.fatec-content{flex-wrap: wrap; justify-content: flex-start; padding-left: 4rem;}
	.fatec-content-info{width: 100%; }
	.fatec-content-photo{margin-top: 6rem;}

	
	// ---------------------curriculum-----------------------------
	.curriculum-content-items-individual{width: 50%;}
	.curriculum-content-items-individual-text p{width: 90%;}
	.curriculum{height: 100rem;}

	// ---------------------contact-----------------------------
	.contact{height: auto; padding-bottom: 4rem;}
	.contact-content-items{flex-wrap: wrap; align-items: center;}
	.contact-content-items-form{ width: 90%; margin-left: -2rem;}
	.contact-content-items-vcard{width: 90%; margin: .5rem;}
	.contact-content-items-form-btn{margin-bottom: 6rem;}
	
	// ---------------------error-----------------------------
	.error-text {padding: 1rem;}

}

/* ******************* */
/*       TABLET        */
/* ******************* */
@media only screen and (min-width: 860px) and (max-width: 1023px) {
	.centralizer{width:98%; margin: 0 auto;}
	// ---------------------header-----------------------------
	.header-content-menu-mobile{display: none}
	.banner{background-size: 100%;background-position: 0 52px;height: 21rem;}

	
	// ---------------------profile-----------------------------
	.profile-content-info{width: 100%;}

	// ---------------------curriculum-----------------------------
		.curriculum{height: 100rem;}
		.curriculum-content-items-individual{width: 45%;}
		.curriculum-content-items-individual-text p{width: 90%;}

	// ---------------------contact-----------------------------
	.contact-content-items{flex-wrap: wrap}
	.contact-content-items-vcard{ padding: 2.5rem;}

	// ---------------------error-----------------------------
	.error-text {padding: 2rem;}

}

/* ******************* */
/*       CELULAR       */
/* ******************* */
@media only screen and (max-width: 640px) {
	.centralizer{width: 98%; margin: 0 auto;}
	.title{font-size: 3rem;  max-width: 100%;;}
	.title-profile{font-size: 2rem}

	// ---------------------header-----------------------------
	.banner{background-size: 100%;background-position: 0 52px;height: 21rem;}
	.header-content-menu{display: none;}

	// ---------------------profile-----------------------------
	.profile-content{flex-wrap: wrap; justify-content: center;}
	.profile-content-info{ text-align: left;padding-left: 5rem; width: 100%;margin-left: 0}
	.profile-content-photo{margin-right: 1rem;}
	.profile-content-info-social a {padding:0 1.5rem}

	// ---------------------fatec-----------------------------
	.fatec{padding: 5rem 0}
	.fatec-content{flex-wrap: wrap; justify-content: center;}
	.fatec-content-info{width: 100%; padding-left: 5rem; display: flex; flex-direction: column;justify-content: center;}
	.fatec-content-info-text{margin-top: 3rem; margin-bottom: 2rem;}
	.fatec-content-photo{margin-top: 6rem; height: 30rem;}
	.button{width: 50%; margin-left: 0; padding: 2rem 2rem; font-size: 1.5rem;}

	// ---------------------projects-----------------------------
	.display-none-phone{display: none;}
	.projects{height: auto; padding-bottom: 4rem;}
	.projects-content-projects-item{width: 70%; margin-bottom: 2rem;}
	.projects-content-projects{justify-content: center; flex-wrap: wrap;}
 

	// ---------------------curriculum-----------------------------
	.curriculum{height: 170rem;}
	.curriculum-content-title{font-size: 2.5rem; }
	.curriculum-content-items-individual{width: 100%;}
	.curriculum-content-items-individual-photo{margin-left: 1rem}
	.curriculum-content-items-individual-text p{width: 95%;}

	// ---------------------contact-----------------------------
	.contact{height: auto; padding-bottom: 4rem;}
	.contact-content-items{flex-wrap: wrap; align-items: center;}
	.contact-content-items-form{ width: 90%; margin-left: -2rem;}
	.contact-content-items-vcard{width: 90%; margin: .5rem;}
	.contact-content-items-form-btn{margin-bottom: 6rem;}

	// ---------------------footer-----------------------------
	.footer{font-size: 1.2rem;}

	// ---------------------error-----------------------------
	.error-text {font-size: 2rem;}
	.error-title {font-size: 15rem;}

}	