//----------------------------------*\
// BUTTON SINTAXE
// <button class="button button_{type}">{name}</button>
// BUTTON UPLOAD
//----------------------------------*/

.button{cursor:pointer;text-transform: uppercase; color:$color-primary-1;border:1px solid $color-primary-1; background-color: $color-secundary-2; padding: 2rem 5rem; font-size: 2rem; font-family: 'Candara'; border-radius: 1px;transition: .2s ease-in-out;
    &:hover{background-color: $color-primary-1; color:$color-secundary-2}
}