html{font-size: 62.5%;}
a{text-decoration: none;}
.centralizer { width:1300px; width:130rem; }
.flex{display:flex}
.flex-y-center{display:flex;align-items:center;}
.flex-x-center{display:flex; justify-content:center;}
.flex-all-center{display:flex;align-items:center; justify-content:center;}