// MODEL
// <div class="title">
//   <p><strong>Jaqueline</strong>Paschoal</p>
// </div>
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

.title{font-family: 'IBM Plex Mono', monospace; font-size: 3rem; letter-spacing: .5rem; color:$color-primary-1;text-transform: uppercase;
    &:after{content:'';width:7rem;height: 4px;background-color:$color-primary-1; display: block;}
    strong{font-weight: bold;}
}

.title p{margin-bottom: 1rem}